- @text = File.read File.join "public", locals[:record].gsub(".mp3", ".txt")
- @id = locals[:record].gsub(".mp3", "")
- idx = locals[:idx]
%button.btn.btn-default.btn-sm{:type=>"button", :data=>{:toggle=>"collapse", :target=>"#text_#{idx}"}, :style=>"margin-left:10px;"} comments
%span.badge.badge-notify{:style=>"position:relative;right:-10px;background-color:red;"}
  = comments(@id).drop(1).size
%br
#text.collapse{:id=>"#{idx}"}
  %p= comments(@id).first
  %ul{:style=>"list-style:none;padding:0px;"}
  - comments(@id).drop(1).each do |line|
    - from = line.split("#").first+":"
    %li.well{:style=>"list-style:none;margin:0px;padding:10px;"}
      %div.badge{:style=>"float:left;margin-right:5px;display:table-cell;"}= from
      %div{:style=>"display:table-cell;"}
        - time = Regexp.new(/(\d{1,2}:\d{2})/)
        - text = line.split("#").last
        - times = text.scan(/#{time}/).flatten.compact
        - times.each{|t| text.gsub!(t, timelink(t, idx))} if times.size > 0
        %p= text
      - if from =~ /#{session[:user]}/
        %form{:action => "/update/#{locals[:record].gsub(".mp3", ".txt")}", :method => "post"}
          %input{:type=>"hidden", :name=>"rmcomment", :value=>"#{line}"}
          %input.btn.btn-default.btn-sm{:type=>"submit", :value=>"remove"}
  %br
  %form{:action => "/update/#{locals[:record].gsub(".mp3", ".txt")}", :method => "post"}
    %textarea.form-control{ :id =>"field#{idx}", :name=>"comment", :placeholder=>"comment by #{session[:user]}:", :style=>"margin-bottom:10px;"}
    %input.btn.btn-default{:id =>"submit_#{idx}", :type=>"submit", :value=>"send", :onclick => "update('#{idx}')" }
    :javascript
      function update(idx){
        var x = document.getElementById('field'+idx).value;
        var y = document.getElementById(idx);
        y.innerHTML = y.innerHTML + '- "' + x + '"<br>' 
      }
      function trackTime(time, idx){
        id = "player"+idx;
        ms = time.split(':');
        sec = (+ms[0])*60+(+ms[1]);
        document.getElementById(id).play();
        document.getElementById(id).currentTime=(+sec);
      }
      $("a[rel^='like{{#{idx}}}']").click(function(){
        var para1 = this.dataset['para1'];
        var para2 = this.dataset['para2'];
        trackTime(para1, para2);
      });
