#favorites.alert.alert-success
  %strong Favoriten
  - @top.each do |fav|
    %p= fav
%hr
- @records.each_with_index do |record, idx|
  #div.well.well-sm{:id=>"#{record.gsub(/\.mp3|\.wav/,"")}"}
    %h3{:style=>"display:block;"}
      = record.gsub(/\.mp3|\.wav/,"")
    %audio{ :src=>"#{record}", :id=>"player#{idx}", :controls=>"controls", :style=>"float:left;"}
    :javascript
      var audio#{idx} = document.getElementById("player#{idx}");
      audio#{idx}.addEventListener("playing", function() {
        $.each($('audio'), function(){
          if(this !== audio#{idx}){
            this.pause()
          }
        })
      })
      audio#{idx}.addEventListener("ended", function() {
        audio#{idx+1}.play();
        document.getElementById("player#{idx+1}").focus();
      })

    = haml :edit, :locals => {:record => "#{record}", :idx => idx}
    %div.row
      - recordname = record.gsub(/\.mp3|\.wav/, "")
      %form.form-inline{:action => "/update/favs/#{session[:user]}", :method => "post"}
        %div.form-group
          - $users.each do |user|
            - favs = userfile(user)
            %div.col-sm-2
              %button.btn.form-control{:type=>"submit", :name => "fav"+user.capitalize, :value => recordname, :class => [("disabled" if session[:user] != user), (favs.join(" ") =~ /\b(#{recordname})\b/ ? "btn-warning" : "btn-primary")], :style=>"margin-top:10px;"} 
                = user
      #delete.col-sm-1.btn.btn-default{:style=>"display:inline;margin:1em;"}
        %a{ :href=>"#{to("/delete/#{record}")}", :style=>"text-decoration:none;"}
          delete
      #download.col-sm-1.btn.btn-default{:style=>"display:inline;text-decoration:none;margin:1em;"}
        %a{ :href=>"#{to("/download/#{record}")}", :style=>"text-decoration:none;"}
          download
  %hr
