#favorites.alert.alert-success
  %strong Favoriten
  - @top.each do |fav|
    %p= fav
%hr
- @records.each_with_index do |record, idx|
  #div.well.well-sm{:id=>"#{record.gsub(".mp3","")}"}
    %h3
      = record.gsub(".mp3","")
    %audio{ :src=>"#{record}", :id=>"player#{idx}", :controls=>"controls", :style=>"float:left;"}
    //TODO enable start at time by comment  
    :javascript
      var audio#{idx} = document.getElementById("player#{idx}");
      audio#{idx}.addEventListener("playing", function() {
        $.each($('audio'), function(){
          //this.classList.add("alert");
          //this.classList.add("alert-warning");
          if(this !== audio#{idx}){
            this.pause()
          }
        })
      })
      audio#{idx}.addEventListener("ended", function() {
        //audio = document.getElementById("player#{idx+1}");
        audio#{idx+1}.play();
        document.getElementById("player#{idx+1}").focus();
      })

    = haml :edit, :locals => {:record => "#{record}", :idx => idx}
    - record = record.gsub(".mp3", "")
    %form.form-inline{:action => "/update/favs/#{session[:user]}", :method => "post"}
      %div.form-group
        - $users.each do |user|
          - favs = userfile(user)
          %button.btn.form-control{:type=>"submit", :name => "fav"+user.capitalize, :value => record, :class => [("disabled" if session[:user] != user), (favs.join(" ") =~ /\b(#{record})\b/ ? "btn-warning" : "btn-primary")], :style=>"margin-top:10px;"} 
            = user
  %hr
