%h2 
  overview:

- @records.each_with_index do |record, idx|
  #div{:id=>"#{record.gsub(".mp3","")}"}
    = record
    %br
    %br
    %audio{ :src=>"#{record}", :controls=>"controls"}

    = haml :edit, :locals => {:record => "#{record}", :idx => idx}

