#favorites.alert.alert-success
  %strong Favoriten
  - @top.each do |fav|
    %p= fav

%hr
:javascript
  var all = [];

- @records.each_with_index do |record, idx|
  #div.well.well-sm{:id=>"#{record.gsub(/\.mp3|\.wav/,"")}"}
    %h3{:style=>"display:block;"}
      = record.gsub(/\.mp3|\.wav/,"")
    %button.btn.btn-default{:id=>"load#{idx}", :onclick=>"wavesurfer#{idx}.load('#{record}')"}
      %progress.progress{:id=>"progress#{idx}", :max=>"100", :value=>"0"}
      %p LOAD
    :javascript
      var wavesurfer#{idx} = WaveSurfer.create({
          container: "#div_#{record.gsub(/\.mp3|\.wav/,"")}",
          backend: 'MediaElement',
          progressColor: 'hsla(200, 100%, 30%, 0.5)',
          cursorColor: '#fff',
          normalize: true,
          barWidth: '3',
          pixelRatio: '1'
      });
      all.push(wavesurfer#{idx});
      wavesurfer#{idx}.on('loading', function (percents) {
        document.getElementById('progress#{idx}').value = percents;
        if (percents === 100) {
          document.getElementById('progress#{idx}').style.display = 'none';
          document.getElementById('load#{idx}').style.display = 'none';
        }
      });
      wavesurfer#{idx}.on('ready', function (percents) {
        wavesurfer#{idx}.play()
      });
      
      wavesurfer#{idx}.on("loading", function() {
        $.each(all, function(index, value){
          if(value !== wavesurfer#{idx}){
            value.pause()
          }
        })
      })
      
      wavesurfer#{idx}.on("play", function() {
        $.each(all, function(index, value){
          if(value !== wavesurfer#{idx}){
            value.pause()
          }
        })
      })
      wavesurfer#{idx}.on("finish", function() {
        wavesurfer#{idx+1}.load('#{@records[idx+1]}');
        wavesurfer#{idx+1}.playPause();
        //document.getElementById("wavesurfer#{idx+1}").focus();
      })
    
    %div.btn-group
      // controls
      %button.btn.btn-default{:onclick=>"wavesurfer#{idx}.play();wavesurfer#{idx}.load('#{record}')"}
        %i.glyphicon.glyphicon-play
      %button.btn.btn-default{:onclick=>"wavesurfer#{idx}.pause();"}
        %i.glyphicon.glyphicon-pause
      %a.btn.btn-default{ :href=>"#{to("/download/#{record}")}", :style=>"text-decoration:none;"}
        %i.glyphicon.glyphicon-save
      %a.btn.btn-default{ :href=>"#{to("/delete/#{record}")}", :style=>"text-decoration:none;"}
        %i.glyphicon.glyphicon-trash
      // favorites
      - recordname = record.gsub(/\.mp3|\.wav/, "")
    %div.btn-group
      %form.form-inline{:action => "/update/favs/#{session[:user]}", :method => "post"}
        - $users.each do |user|
          - favs = userfile(user)
          %button.btn.btn-default.glyphicon{:type=>"submit", :name => "fav"+user.capitalize, :value => recordname, :class => [("disabled" if session[:user] != user), (favs.join(" ") =~ /\b(#{recordname})\b/ ? "btn-warning" : "btn-primary"), (favs.join(" ") =~ /\b(#{recordname})\b/ ? "glyphicon-ok" : "glyphicon-ok-sign")], :style=>"margin-left:-5px;"}
            = user
    = haml :edit, :locals => {:record => "#{record}", :idx => idx}
